.atributos{    
display: flex;    
flex-flow: column;
padding-top: 5%;
padding-bottom: 5%;}


img{
    border: solid;
}

.container{  

 text-align: center;
}

.descripcion{
    align-self: center;
    max-width: fit-content;
}

#status{
    border-radius: 20px;
    width: max-content;
    align-self: center;
}

.header{
    display:inline-grid;
    text-align: center;
}

*{ box-sizing: border-box;
    font-family: 'Lato', sans-serif;}