<div class="container">
  <div class="header">
    <div>
      <h1>{{ mangaInfo.attributes.title.en }}</h1>
      <img src="{{ mangaInfo.image }}" />
    </div>
    <div class="atributos" [ngSwitch]="mangaInfo.attributes.status">
      <p><b>tipo:</b> {{ mangaInfo.type }}</p>
      <p><b>autor:</b> {{ mangaInfo.autor }}</p>
      <p><b>genero:</b> {{ mangaInfo.attributes.publicationDemographic }}</p>
      <p><b>Fecha de publicación:</b> {{ mangaInfo.attributes.createdAt }}</p>
      <p>
        <b>estado:</b>
        <span
          *ngSwitchCase="'ongoing'"
          id="status"
          style="background-color: #2ecc7190"
          >{{ mangaInfo.attributes.status }}</span
        >
        <span
          *ngSwitchCase="'hiatus'"
          id="status"
          style="background-color: #f4d03f90"
          >{{ mangaInfo.attributes.status }}</span
        >
        <span
          *ngSwitchCase="'completed'"
          id="status"
          style="background-color: #2874a690"
          >{{ mangaInfo.attributes.status }}</span
        >
        <span
          *ngSwitchCase="'cancelled'"
          id="status"
          style="background-color: #e74c3c90"
          >{{ mangaInfo.attributes.status }}</span
        >
      </p>
    </div>
    <p class="descripcion">
      <b>Descripcion:</b><br />{{ mangaInfo.attributes.description.en }}
    </p>
    <div *ngFor="let capitulo of trueChapter">
      <p>{{capitulo.volume}}</p>
    </div>
  </div>
</div>
