

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background: #F1FAFF;
}
.body{
    background: linear-gradient(180DEG, #2F1C53, #A46DFF, #F6D1FD);
}


.container__cards{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card{
    width: 300px;
    margin: 10px;
    height: 800px;
    transition: all 300ms;
}

.card:hover{
    width: 350px;
}

.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card:hover .cover img{
    top: 0px;
    filter: none;
}

.card .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -40px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

h1{  
     margin-top: 10px;
    text-align: center;
  
}

img{
    float: left;
    width: 100px;
    height: 100px;
}

.card:hover .img__back{
    bottom: -40px;
}

.card .description{
    background: white;
    height: 40%;
    margin-top: -10px;
    display: inline-grid;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
    
}

p{
    margin-top: 10px;
    overflow: hidden;

}

.card:hover .description{
    padding: 40px;
}


.card .description h2{
    text-align: center;
    border-radius: 20px;
}

.card .description p{
    margin-top: 10px;
}

.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover{
    background: #83277b;
}